force-app/main/default/flows/Work_Order_Created_or_Pending_Dispatch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Dispatch_Briefing</name>
        <label>Generate Dispatch Briefing</label>
        <locationX>173</locationX>
        <locationY>509</locationY>
        <actionName>Generate_Dispatch_Briefing</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Work_Order_With_AI_Dispatch</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Mark_Dispatch_Generation_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:dispatchContext</name>
            <value>
                <elementReference>Get_Dispatch_Context.outputDispatchContext</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>Generate_Dispatch_Briefing</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Work Order Created or Pending Dispatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Created or Pending Dispatch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Dispatch_Generation_Failed</name>
        <label>Mark Dispatch Generation Failed</label>
        <locationX>249</locationX>
        <locationY>754</locationY>
        <inputAssignments>
            <field>Dispatch_Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Status__c</field>
            <value>
                <stringValue>Generation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_With_AI_Dispatch</name>
        <label>Update Work Order With AI Dispatch</label>
        <locationX>340</locationX>
        <locationY>510</locationY>
        <faultConnector>
            <targetReference>Mark_Dispatch_Generation_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AI_Dispatch_Summary__c</field>
            <value>
                <elementReference>Generate_Dispatch_Briefing.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Response__c</field>
            <value>
                <elementReference>Generate_Dispatch_Briefing.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Status__c</field>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Dispatch_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispatch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>AI_Dispatch_Summary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Dispatch_Context</name>
        <label>Get Dispatch Context</label>
        <locationX>173</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Generate_Dispatch_Briefing</targetReference>
        </connector>
        <flowName>Get_Dispatch_Context</flowName>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
